#----- Custom -----#

assets/render/

#----- VS Code / PyCharm -----#

.vscode/
.idea/

#----- Byte-compiled / Optimized / DLL files -----# 

__pycache__/
*.py[cod]
*$py.class

#----- Python virtual environment folders -----#

venv/
env/

#----- Distribution / Packaging -----#

build/
dist/
*.egg-info/

# Editable install markers
*.egg

#----- Pytest -----#
 
pytest_report.xml

#----- Ruff -----#

.ruff_cache/
